*{
    margin: 0;
}

body{
    background-color: #262626;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

.navbar{
    color: rgb(255, 255, 255);
}

.nav_items ul{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    padding: 23px;
    column-gap: 2.7%;
    font-family: "BMWTypeNext Pro";
}

.nav_items img{
    width:20px;
    height: 20px;
    margin-right: 2%;
    rotate: 90deg;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo img{
    position: absolute;
    padding: 13px;
    width: 280px;
    height: 40px;
    margin-left: 1.5%;
    flex-direction: row;
    justify-content: left;
}

.background{
    background-image: url("https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/fastlane/motorsport/M4-GT3-EVO/bmw-m4-gt3-evo-hd-05.jpg?imwidth=1920");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg_info{
    color: #fff;
    font-family: "BMWTypeNext Pro";
    font-size: 75px;
    font-weight: 50;
    line-height: 94px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    column-gap: 30px;
}

.button a{
    text-decoration: none;
    padding:  15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1c69d4;
    margin: 10px;
    border-radius: inherit;
}

.button ul{
    display: flex;
    justify-content: center;
    padding-right: 60px;
    list-style-type: none;
    font-family: "BMWTypeNext Pro";
    font-weight: 10;
}

.button a i{
    font-size: 2em;
    color: #fff;
    opacity: 0,9;
}

.button a:hover{
    background-color: #0653b6;
    transition: 0.2s;
    border-radius: inherit;
}

footer{
    background-color: #262626;
}

.footerContainer{
    width: 100%;
    padding: 80px 30px 20px ;
}

.SocialIcons{
    display: flex;
    justify-content: center;
    padding-right: 60px;
    column-gap: 30px;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.SocialIcons a i{
    font-size: 2em;
    color: #fff;
    opacity: 0,9;
}

.SocialIcons a:hover{
    background-color: #11111171;
    transition: 0.5s;
    border-radius: 50%;
}

.SocialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 50px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    padding-right: 60px;
    list-style-type: none;
    font-family: "BMWTypeNext Pro";
    font-weight: 10;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #262626;
    padding: 20px;
    text-align: center;
    font-family: "BMWTypeNext Pro";
    font-size: 18px;
    color: white;
    border-top: 1px solid #555;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: left;
        margin: 10px;
    }
    .SocialIcons{
        margin: 4px;
        position: sticky;
        justify-content: start;
        padding-left: 60px;
    }
}
